<!DOCTYPE html> 

<html> 
   
<head> 
    
    <script>
    function validateLoginForm() {

        var username = document.forms["loginForm"]["username"].value;
        var password = document.forms["loginForm"]["password"].value;
        var error = 0;
      
        if (password === null || password === "") {
            var fgPassword = document.getElementById("fgPassword");
            fgPassword.className += " has-error";
            showValidateError('Please enter the Password.');
            error = 1;
        }
        
        if (username === null || username === "") {
            var fgUsername = document.getElementById("fgUsername");
            fgUsername.className += " has-error";
            showValidateError('Please enter the Username.');
            error = 1;
        }

        if (error === 1)
        {
            return false;
        }

    }

     function showValidateError(message) {

        var errorBox = document.getElementById("validateError");
        var messegeHTML ='<div class="alert alert-dismissible alert-danger"> <p class="text-center"><strong>'+message+'</strong></p> </div>';
        errorBox.innerHTML=messegeHTML;

    }
    
    function hideValidateError(message) {

        var errorBox = document.getElementById("validateError");
        var messegeHTML ='';
        errorBox.innerHTML=messegeHTML;

    }
</script>

      
<meta charset="UTF-8">
 <link rel="icon" href="favicon.ico" type="image/x-icon" >
 <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
</head>
   <body> 
   <div id="page">
   <div id="pageTop">
   		<div id="TopWrap">
        	<div id="Logo">
            	<a href="index.html"><img  src="{{ asset('images/logo.png') }}" alt="logo"></a>
            </div>
            <div id="Rest">
            	<div id="D1">
                 <a href="index.html"><img src="{{ asset('images/name.png') }}" alt="name"></a>  
                		<div>
                   	        <a href="{{ path('friendz_hub_social_reg') }}">Sign up</a>
                             <a href="{{ path('friendz_hub_social_login') }}">Log In </a>
                   		 </div>
                           
                </div>
                <div id="D2">
                	<div>
                	<a href="{{ path('friendz_hub_social_News') }}"><img src="{{ asset('images/home.png') }}" alt="logo"></a>
                    <a href="{{ path('friendz_hub_social_profil') }}"> My Profile </a> 
                    </div>
                </div>
            </div>
        </div>
    </div> 
   <div id="pageMiddle"> 
    <div id="login"> 	
     
       <h1>Welcome !!!</h1>
        </div > 
       
        </div>	
  	 
    <div id="pageEnd"> 
         <a href="https://www.youtube.com/"><img  src="{{ asset('images/ytd.png') }}" alt="logo"></a>
        <a href="https://twitter.com/?lang=en"><img  src="{{ asset('images/twd.png') }}" alt="logo"></a>
        <a href="https://www.facebook.com/"><img  src="{{ asset('images/ff.png') }}" alt="logo"></a>
        </div> 
  </div>
 </body> 
 </html>