<!DOCTYPE html> 

<html> 
   
<head>
<style type="text/css">
#section {
    width:350px;
    float:left;
    padding:10px; 
    font-size:100%
}
</style>
<meta charset="UTF-8">
 <title>Web Intersect Social Network Tutorials and Demo</title>
 <link rel="icon" href="favicon.ico" type="image/x-icon" >
 <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
   <body> 
   <div id="page">
   <div id="pageTop">
   		<div id="TopWrap">
        	<div id="Logo">
            	<a href="index.html"><img  src="{{ asset('images/logo.png') }}" alt="logo"></a>
            </div>
            <div id="Rest">
            	<div id="D1">
                 <a href="index.html"><img src="{{ asset('images/name.png') }}" alt="name"></a>  
                		<div>
                   			 <a href="#"> Sign up / Log In </a>
                   		 </div>
                           
                </div>
                <div id="D2">
                	<div>
                	<a href="index.html"><img src="{{ asset('images/home.png') }}" alt="logo"></a>
                    <a href="#"> My Profile </a>
                    <a href="#"> Contacts </a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
   <div id="pageMiddle"> 
 		<div id="profPic">
        	<a href="index.html"><img  src="{{ asset('images/pic.png') }}" alt="logo"></a>     

          </div> 
      <div id="section">
         <form action="{{path('friendz_hub_social_update',{'name':username})}}" method="POST">
                <ul style="list-style-type:disc">
                   {% for entity in entities %}
                  <li >First name :{{entity.firstName}} </li>
                  <li>Last Name :{{entity.lastName}}  </li>
                  <li>User Name :  {entity.username}}   </li>
                  <li>Gender :     {{entity.gender}}     </li>
                  {% endfor %}
              </ul>
                         <input type="Edit Profile" value="Edit Profile">
</form>
            </div>
      
                </div>	
   
    
     <div id="pageEnd"> 
        <a href="index.html"><img  src="{{ asset('images/ytd.png') }}" alt="logo"></a>
        <a href="index.html"><img  src="{{ asset('images/twd.png') }}" alt="logo"></a>
        <a href="index.html"><img  src="{{ asset('images/ff.png') }}" alt="logo"></a>
      </div> 
  </div>
 </body> 
 </html>